<html>
<head>
<title>21 Century Motor Company</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- meta -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@_unwriter" />
<meta name="twitter:title" content="21 Century Motor Company" />
<meta name="twitter:description" content="There is no company." />
<meta name="twitter:image" content="https://<%=host%>/pipe.jpg" />
<meta property="og:url" content="https://<%=host%>/21 />
<meta property="og:type"   content="website" />
<meta property="og:title" content="21 Century Motor Company" />
<meta property="og:description" content="There is no company." />
<meta property="og:image" content="https://<%=host%>/pipe.jpg" />

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<style>
body {
/*
  background: #fafbfc;
  */
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  margin-bottom: 20px;
}
h3 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 40px;
}
h4 {
  font-family: Menlo, monaco, Courier;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  padding: 15px 0 0 15px; 
  background: rgba(0,0,0,0.1);
  margin: 0;
}
h5 {
  font-weight: bold;
  font-size: 16px;
}
.well {
  padding: 100px 0;
}
a {
  color: rgba(0,0,0,0.8);
  font-size: 12px;
  display: block;
}
.col {
  padding: 50px 0 0;
}
.col img {
  height: 100px;
  margin: 20px;
}
.label {
  text-align: left;
  font-family: "Helvetica Neue", helvetica, arial;
  font-size: 12px;
  margin: 0;
}
.label span {
  display: inline-block;
  border-radius: 2px 2px 0 0;
  font-weight: 700;
}

footer {
  padding: 30px;
  margin-top: 100px;
  font-size: 12px;
}
footer a {
  color: rgba(0,0,0,0.8);
}
.shortcuts {
  text-align: center;
}
.shortcut {
  margin: 0 10px;
  text-decoration: none;
}
.cpright {
  opacity: 0.8;
  text-align: center;
  width: 100%;
  font-size: 12px;
}
.cpright img {
  height: 30px;
  margin: 10px;
}
.flexible {
  flex-grow: 1;
}
.nodes {
  font-family: Menlo, monaco, Courier;
  padding: 15px;
  border-radius: 0 2px 2px 2px;
  background: rgba(0,0,0,0.1);
}
.nodes a {
  display: flex;
  color: cornflowerblue;
  border-top: 1px solid rgba(255,255,255,0.06);
  padding: 10px 0;
}
.nodes a .flexible {
  min-width: 10px;
}
.nodes a span.right {
  text-align: right;
}
img.icon {
  margin: 0;
  width: 15px;
  height: 15px;
  vertical-align: bottom;
}
.container {
  max-width: 100%;
}
.content {
  background: #20232a;
  padding: 0;
  color: white;
}
.button {
  display: inline-block;
  color: white;
  background: rgba(0,0,0,0.8);
  font-size: 12px;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 5px;
}
.nodes i {
  margin-right: 5px;
}
.msg {
  background: rgba(0,0,0,0.3);
  padding: 10px;
}

</style>
</head>
<body>
  <div class='container'>
    <div class='well text-center'>
      <h1>21<br>Century<br>Motor Company</h2>
      <div>Building the Motor of the Bitcoin World</div>
    </div>
    <div class='row content'>
      <div class='col text-center'>
        <h3>Bitdb</h3>
        <div>Programmable HTTP API for Bitcoin</div>
        <img src='./database.png'>
        <br><br>
        <div class='btns'>
          <a href='https://bitdb.network' class='button'>Website</a>
          <a href='https://docs.bitdb.network' class='button'>Docs</a>
          <a href='https://github.com/21centurymotorcompany/bitd' class='button'>GitHub</a>
        </div>
        <br><br>
        <h4 class='text-left'><img src="./database.png" class='icon'> Public Bitdb Nodes</h4>
        <div class='text-left nodes'>
          <a href='https://bitdb.network/v3/explorer'><span><i class='fas fa-cog fa-spin'></i>Node1: https://bitdb.network/q</span><span class='flexible'></span><span class='right'>/Bitcoin ABC:0.18.2(EB32.0)/</span></a>
          <a href='https://bitgraph.network/explorer'><span><i class='fas fa-cog fa-spin'></i>Node2: https://bitgraph.network/q</span><span class='flexible'></span><span class='right'>/Bitcoin SV:0.1.0(EB128.0)/</span></a>
          <a href='https://bitsocket.network/explorer'><span><i class='fas fa-cog fa-spin'></i>Node3: https://bitsocket.network/q</span><span class='flexible'></span><span class='right'>/BUCash:1.5.0.1(EB32; AD12)/</span></a>
          <a href='https://planaria.network/explorer'><span><i class='fas fa-cog fa-spin'></i>Node4: https://planaria.network/q</span><span class='flexible'></span><span class='right'>/BUCash:1.5.0.1(SV; EB32; AD12)/</span></a>
        </div>
      </div>
      <div class='col text-center'>
        <h3>Bitsocket</h3>
        <div>Programmable Push API for Bitcoin</div>
        <img src='./funnel.png'>
        <br><br>
        <div class='btns'>
          <a href='https://bitsocket.org' class='button'>Website</a>
          <a href='https://bitsocket.org/docs' class='button'>Docs</a>
          <a href='https://github.com/21centurymotorcompany/bitsocketd' class='button'>GitHub</a>
        </div>
        <br><br>
        <h4 class='text-left'><img src="./funnel.png" class='icon'> Public Bitsocket Nodes</h4>
        <div class='text-left nodes'>
          <a href='https://bitsocket.org/channel'><span><i class='fas fa-cog fa-spin'></i>Node1: https://bitsocket.org/s</span><span class='flexible'></span><span class='right class='right''>/Bitcoin ABC:0.18.2(EB32.0)/</span></a>
          <a href='https://bitgraph.network/channel'><span><i class='fas fa-cog fa-spin'></i>Node2: https://bitgraph.network/s</span><span class='flexible'></span><span class='right'>/Bitcoin SV:0.1.0(EB128.0)/</span></a>
          <a href='https://bitsocket.network/channel'><span><i class='fas fa-cog fa-spin'></i>Node3: https://bitsocket.network/s</span><span class='flexible'></span><span class='right'>/BUCash:1.5.0.1(EB32; AD12)/</span></a>
          <a href='https://planaria.network/channel'><span><i class='fas fa-cog fa-spin'></i>Node4: https://planaria.network/s</span><span class='flexible'></span><span class='right'>/BUCash:1.5.0.1(SV; EB32; AD12)/</span></a>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="text-center cpright">
          <a href="https://github.com/21centurymotorcompany"><img src="./favicon.png" class="fav"><br>21 Century Motor Company</a>
        </div>
      </div>
      <br><br>
      <div class="row text-center shortcuts">
        <div class="flexible"></div>
        <a href="mailto:unwriter@protonmail.com" class="shortcut"><i class="fas fa-envelope"></i> Contact</a>
        <a href="https://t.me/joinchat/HH1DDQ8pZlSlsdNcKgIcxw" class="shortcut"><i class="fab fa-telegram-plane"></i> Chat</a>
        <a href="https://twitter.com/_unwriter" class="shortcut"><i class="fab fa-twitter"></i> Twitter</a>
        <div class="flexible"></div>
      </div>
    </div>
  </footer>
</body>
</html>

